<!DOCTYPE html>

<html>

	<head>
		<% include ../partials/head %>
	</head>

	<body>
		<div class="post-body">
			<% if(isAuthenticated) { %>
				<a href="/posts/write">
					<button type="button" class="w3-btn w3-teal button-size user-detail-margin">
						Write
					</button>
				</a>
			<% } %>
			<div class="post-upper-margin">
				<table class="w3-table-all w3-hoverable w3-card-4">
					<thread>
						<tr class="w3-teal">
							<th>TItle</th>
							<th>Date</th>
							<th>Author</th>
						</tr>
					</thread>
					<tbody>
						<% if(posts == null || posts.length == 0) { %>
							<tr>
								<td>No post now</td>
							</tr>
						<% } else { posts.forEach(function(post) { %>
							<tr>
								<td>
									<a href="/posts/<%= post._id %>"><div class="text-ellipsis"><%= post.title %></div></a>
								</td>
								<td><%= post.createdDate %>, <%= post.createdTime %></td>
							<% if(post.author.username) %>
								<td><%= post.author.username %></td>
							</tr>
						<% })} %>
					</tbody>
				</table>
			</div>
		</div>
	</body>

</html>
